.home {
  background-image: url("./resources/img/wallpaperbetter.jpg");
  display: flex;
  background-position: fixed;
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.list-movies-cover {
  background-image: url("./resources/img/wallpaper-luca.jpg");
  display: flex;
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.container-home {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 20px;
}

.nav-bar-home {
  position: absolute;
}

.container-social-networks {
  display: flex;
  justify-content: space-between;
  margin: 10px 20px 10px 20px;
  text-decoration: none;
}

.container-home > img {
  width: 110%;
}

.bg-light {
  background-color: rgb(231, 231, 231);
}

form {
  margin: 50px 20px 50px 20px;
}

.login-form,
.register-form {
  max-width: 500px;
  display: flex;
}

.container-login,
.container-register {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

p > a {
  text-decoration: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.seat-row {
  display: grid;
}

.seat-row > * {
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* border: solid 1px black; */
}

.seat-row .seat,
.seat-row .empty {
  margin: 0;
  min-width: 5vw;
  min-height: 5vw;
  max-width: 100vw;
  max-height: 100vw;

  border: 0;
  padding: 2px;
  margin: 0;
  background: transparent;
}

.seat + .occupied img {
  cursor: not-allowed !important;
}
.seat + .available img {
  cursor: pointer;
}

.seat svg {
  transform: rotate(180deg);
}
.room {
  /* background-color: rgba(122, 122, 122, 0.507); */
  margin: auto;
  padding: 3.7rem;
}

@media (max-width: 768px) {
  .room {
    margin: 0;
    width: 100%;
  }
}

.background {
  display: flex;
  background-position: fixed;
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.movie-info {
  flex-direction: column;
  display: flex;
  align-items: flex-start;
}

.movie-info .wrapper-image {
  box-sizing: inherit;
  position: relative;
  width: 100%;
}

.movie-info .title {
  color: #225fa6;
}
.wrapper-image .image {
  box-sizing: inherit;
  padding: 0;
  display: block;
  margin: 0;
  line-height: 0;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  margin-right: 16px;
}

.wrapper-image .image img {
  -webkit-box-direction: normal;
  line-height: 0;
  box-sizing: inherit;
  max-width: 100%;
  height: 100%;
  width: 100%;
  object-fit: cover;
  min-width: 100%;
}

.cart-sumary {
  text-align: center !important;
  box-sizing: border-box;
  padding-top: 20px !important;
  color: #212020;
  margin-top: 100px;
  position: sticky;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 480px;
}

.cart-summary-row {
  text-align: center !important;
  color: #212020;
  box-sizing: border-box;
  border-top: 1px solid #b9b9b9;
  padding: 1rem;
}

.cart-summary-film-info {
  justify-content: flex-start;
  padding-bottom: 26px;
  display: flex;
}

.cart-summary-row-flex {
  text-align: center !important;
  color: #212020;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.label {
  text-align: center;
  box-sizing: border-box;
  color: #f7f7f7;
  position: absolute;
  width: 100%;
  letter-spacing: 0.6rem;
  top: 8%;
  font-size: 1rem;
}

.sidebar {
  box-sizing: border-box;
  background: #f0f0f0;
  position: relative;
  box-shadow: inset 8px 0 10px rgba(0, 0, 0, 0.1);
}

.cinema-screen-container {
  color: #212020;
  box-sizing: border-box;
  position: relative;
  text-align: center;
}
.cinema-screen {
  margin: 0 80px;
}

.css-1ldn01p {
  box-sizing: border-box;
  grid-area: schedule;
}

.css-udl0hl {
  word-wrap: break-word;
  box-sizing: border-box;
  background-color: var(--theme-ui-colors-background);
  color: var(--theme-ui-colors-text);
  border-radius: 8px;
  padding: 32px;
}

.css-16ilj6a {
  word-wrap: break-word;
  box-sizing: border-box;
  margin-bottom: 32px;
}

.css-17dvixe {
  word-wrap: break-word;
  box-sizing: border-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  flex-wrap: wrap;
}

.css-w7ednw {
  box-sizing: border-box;
  min-height: 100%;
  width: 100%;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  gap: 8px;
}

.css-1vy61x7 {
  box-sizing: border-box;
  position: relative;
  flex: 10;
  align-self: stretch;
  min-height: 60px;
}

.css-1l7mrcz {
  box-sizing: border-box;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
}

.css-l5xv05 {
  box-sizing: border-box;
  position: relative;
}

.keen-slider {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  touch-action: pan-y;
  user-select: none;
  overflow: hidden;
  position: relative;
}

.css-1nrmkzk {
  box-sizing: border-box;
  margin-left: 32px;
  margin-right: 32px;
}

.keen-slider__slide {
  color: var(--theme-ui-colors-text);
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  min-height: 100%;
  width: 100%;
}

.css-68am72 {
  user-select: none;
  box-sizing: border-box;
  opacity: 1;
}

.css-iik8bn {
  user-select: none;
  box-sizing: border-box;
  -webkit-box-align: center;
  align-items: center;
  border: none;
  border-color: #212020;
  border-radius: 8px;
  border-style: solid;
  border-width: 2px;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-weight: 700;
  -webkit-box-pack: center;
  justify-content: center;
  line-height: 1.65;
  min-height: 60px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 300ms;
  background-color: #212020;
  color: #f7f7f7;
  margin-left: 8px;
  margin-right: 8px;
  padding: 4px;
}

.css-b1gs5x {
  user-select: none;
  cursor: pointer;
  text-align: center;
  color: #212020;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
}

.css-17p42j8 {
  user-select: none;
  cursor: pointer;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #212020;
  box-sizing: border-box;
  font-size: 22px;
  line-height: 1;
}

.css-sithx7 {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(auto-fill, minmax(144px, 1fr));
}

.css-1girimy {
  background-color: white !important;
  user-select: none;
  box-sizing: border-box;
  -webkit-box-align: center;
  align-items: center;
  border: none;
  border-color: #212020;
  border-radius: 8px;
  border-style: solid;
  border-width: 2px;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-weight: 700;
  -webkit-box-pack: center;
  justify-content: center;
  line-height: 1.65;
  min-height: 60px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 300ms;
  background-color: #ebebeb;
  color: #212020;
  margin-left: 8px;
  margin-right: 8px;
  padding: 4px;
}

.css-11uxou5 {
  box-sizing: border-box;
  line-height: 0;
  cursor: pointer;
  opacity: 0.5;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  font-size: 32px;
  height: 100%;
}

.css-1efmhlg {
  box-sizing: border-box;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
}

.MuiSvgIcon-root {
  line-height: 0;
  cursor: pointer;
  box-sizing: border-box;
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
  font-size: inherit;
}

.css-q47fe6 {
  box-sizing: border-box;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
}

.css-2egtya {
  -webkit-box-align: center;
  align-items: center;
  border: 2px solid transparent;
  border-radius: 99999px;
  display: flex;
  font-size: 14px;
  font-weight: 700;
  -webkit-box-pack: center;
  justify-content: center;
  line-height: 1.65;
  min-height: 3rem;
  padding: 8px 22px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 300ms ease 0s;
  background-color: rgb(1, 82, 143);
  color: rgb(247, 247, 247);
  width: 100%;
  cursor: pointer;
}

.css-1lgx68j {
  text-align: center;
  text-transform: uppercase;
  color: rgb(247, 247, 247);
  cursor: pointer;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 700;
}

.css-68am72 {
  opacity: 1;
}

.btn-favorites {
  border-radius: 50%;
  min-height: 35px !important;
  min-width: 35px !important;
  border: 1px solid;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 15px !important;
  padding: 0 !important ;
}
